body{
background-color: #deccec;
font-family: "Inter",sans-serif;
padding:2rem;
}
main{
max-width: 780px;
margin: 0 auto;


}
.topo{
text-align: center;
padding-bottom: 3rem
;
}
.topo .titulo{
font-size: 2rem;
font-weight: bold;
padding-bottom: 1.5rem;
} 
 .topo .sub-titulo{
    font-size:1.125rem ;
color: #828282;
}
.box{
    background: #fff;
    box-shadow: 0 1px 2px;
    border-radius: 8px;
    margin-bottom: 3rem;
}
.password{
display:flex ;
align-items: center;
}
.password .text{
    flex: 1;
}
.password .text input{
    font-family: 'inconsolata',serif;
    font-size: 3rem;
border: none;
outline: nome;
cursor: default;
height: 52px;
width: 100%;
}
.password .actions button{
background-color: transparent;
border: none;
cursor: pointer;
opacity: 0.6;

}
.security-indicator{
    height: 10px;
    background-color:#ddd;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
}
.security-indicator .bar{
height: 10px;

border-top-right-radius:8px;
border-bottom-right-radius:8px;
border-bottom-left-radius:8px;
}
.security-indicator .bar.critical{
background-color: rgb(245, 87, 87);
}
.security-indicator .bar.warning{
    background-color: rgb(244, 247, 82);
    }

.security-indicator .bar.safe{
        background-color: rgb(126, 245, 111);
        }


.security-indicator .bar.completed{
            border-top-right-radius:0;
            }


.customize{
        padding: 1rem 1.5rem;

}     
.customize{
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.75 rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: 0.75rem;
}       
.customize .actions{
display: flex;
gap :3rem;
color: #828282;
}
.customize .password-length{
flex: 1;

}
.customize .password-length .slider{
    appearance: none;
    right: 10px;
    background: #dddddd;
    outline: none;
    border-radius: 8PX;
    width: 100%;
    margin-top: 1REM;
}
.customize .password-length .slider::-webkit-slider-thumb{
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #B29BF2;
border-radius: 25PX;
cursor:pointer;
}

.customize .password-length .slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: #B29BF2;
    border-radius: 25PX;
    cursor:pointer;

}

.chackbox-container{
display: block;
position: relative;
padding-left: 2rem;
margin-bottom: 1rem;
cursor:pointer;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
}

.chackbox-container input{
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor:pointer;
}

.chackbox-container .checkmark{

    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #dddddd;
}

.chackbox-container:hover input ~ .checkmark{

    background-color:#B66CDC;
}

.chackbox-container input:checked~.checkmark{

    background-color: #B29bf2;
}
.chackbox-container .checkmark::after{

    content: "";
    display: none;
    position: absolute;
    width: 5px;
    height: 13px;
    border: solid white;
    left: 9px;
    top: 5px;
    border-width:0 3px 3px 0;
    transform:rotate(45deg);
}

.chackbox-container input:checked ~.checkmark::after{
    display: block;
}

.submit{
    text-align: center;
}

.submit button{
    background-color:#bb6bd9 ;
    font-size: 1.375rem;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding : 1rem 2rem;
    transform:all 0.2s ;
}

.submit button:hover{
background-color: #9b519b;

}